<div class="topnav">
  <div class="title">
   <h1><span style="color: #545353">F</span>arrah WY <span style="color: #545353">K</span>wok</h1>
  </div>
  <div class="topnav-right">
    <a href="#">Skill</a>
    <a href="#">Works</a>
    <a href="#">Study</a>
    <a href="#">Gallery</a>
    <a href="#">Post</a>
    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</div>

