<div class="curtain">
  <div class="curtain__wrapper">
    <input type="checkbox" id="checkbox" onclick="disable(this);">

    <div class="curtain__panel curtain__panel--left">
      <h1>Hi!&nbsp;&nbsp;<h1>
      <h1>I'm Farrah!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    </div> <!-- curtain__panel -->

    <div class="curtain__panel curtain__panel--right">
      <h3>&nbsp;&nbsp;a fullstack developer/ QA / AI Trainer</h3>
    </div> <!-- curtain__panel -->

    <div class="container curtain__content">
        <h2>Be Creative in my Reality</h2>
        <hr width="50%">
        <p>Thanks for visting! I am Farrah Kwok, born in Hong Kong and based in Tokyo.</p>
        I've been passionate about making things better and discovering what's next.<br> 3+ years experience of coaching and facilitating teams to drive better innovation outcomes in fast growing startups. <br>
        <br><%= link_to "Check my recent work", works_path ,class:"btn btn-light"%>
         <ul class="timeline">

        <!-- Item 1 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag">QA Engineer</span>
              <span class="time-wrapper"><span class="time">2020 - present</span></span>
            </div>
            <div class="desc">Start joining the product team and feel exited to bring useful apps to life. Establishing workflow to help the new team to set clearer goals. </div>
          </div>
        </li>

        <!-- Item 2 -->
        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="flag">Le Wagon Coding Bootcamp</span>
              <span class="time-wrapper"><span class="time">2020 - 2020</span></span>
            </div>
            <div class="desc">6 months part time course.Equiping myself with computational thinking & coding.</div>
          </div>
        </li>

        <!-- Item 3 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag">Team Manager of AI trainer</span>
              <span class="time-wrapper"><span class="time">2018 - 2020</span></span>
            </div>
            <div class="desc">New mission.Leading another global team to monitor and boost the AI concierge’s performance. </div>
          </div>
        </li>

        <!-- Item 4 -->
        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="flag">Team Manager of operation</span>
              <span class="time-wrapper"><span class="time">2017 - 2018</span></span>
            </div>
            <div class="desc">My first Management job. Leading a global team to provide the best customer service for traveler.</div>
          </div>
        </li>

      </ul>
    </div>
  </div> <!-- curtain__wrapper -->
</div> <!-- curtain -->
<script>
  function disable(el){
      el.setAttribute('disabled',true);
  }
</script>
