<div class="curtain">
  <div class="curtain__wrapper">
    <input type="checkbox" id="checkbox" onclick="disable(this);">

    <div class="curtain__panel curtain__panel--left">
      <h1>Hi!&nbsp;&nbsp;<h1>
      <h1>I'm Farrah!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    </div> <!-- curtain__panel -->

    <div class="curtain__panel curtain__panel--right">
      <h3>&nbsp;&nbsp;a fullstack developer/ QA / AI Trainer</h3>
    </div> <!-- curtain__panel -->

    <div class="container curtain__content">
        <h2>Be Creative in my Reality.</h2>
        <p>Thanks for visting!I am Farrah Kwok, born in Hong Kong and living in Tokyo now.</p>
        <p>I'm working in and passionate about product/service design and development. I'm coaching and facilitating teams in the use of agile, lean and design thinking methods to drive better innovation outcomes. </p>
    </div>

  </div> <!-- curtain__wrapper -->
</div> <!-- curtain -->
<script>
  function disable(el){
      el.setAttribute('disabled',true);
  }
</script>
